
@font-face{
    font-family: AudioWide;
    src: url(./Fonts/Audiowide-Regular.ttf)
}

@font-face{
    font-family: Pixelify;
    src: url(./Fonts/PixelifySans-Regular.ttf)

}

html{
    background-color:#fce19f;
   
        
}

body{
    text-align: center;
    font-family: Pixelify;
    font-size: 20px;
    margin: 0;
}


header h1{
    font-family: AudioWide;
    background-color: #D81A1A;
    display: block;
   margin:0;
    
}

header h2{
    font-family: AudioWide;
    background-color: #D81A1A;
    display: block;
    margin:0;
    
   
   
}

#explications{
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
    
    
  
}

#Yu-gi-oh{
   
   margin: 10px;
  
   
}




a{
    text-decoration: none;
    color: rgb(13, 56, 112);
}

    
footer p{
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-end;
    margin: 0;
    
}

