
@font-face{
    font-family: AudioWide;
    src: url(./Fonts/Audiowide-Regular.ttf)
}

@font-face{
    font-family: Pixelify;
    src: url(./Fonts/PixelifySans-Regular.ttf)

}

html{
    background-color:#fce19f;
   
        
}

body{
    text-align: center;
    font-family: Pixelify;
    font-size: 20px;
    margin: 0;
}


header h1{
    font-family: AudioWide;
    background-color: #D81A1A;
   margin:0;
   color: #E9F40E;
    
}

header h2{
    font-family: AudioWide;
    background-color: #D81A1A;
    margin:auto;
    width: 55%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #E9F40E;

    
   
   
}

#explications{
    margin: 15px 70px;
    display: flex;
    justify-content: center;
    
    
  
}

#Yu-gi-oh{
   
  width: auto;
  height: 415px;
  margin: 0 30px;
  
   
}

#création{
    background-color: #934444; 
    width: 300px;
    color: #FDE613;
    margin: 0;
}

#container{
    background-color: #934444;
    width: 300px;
    color: #FDE613;
    margin: 0;
}


a{
    text-decoration: none;
    color: rgb(13, 56, 112);
}

    
footer p{
    font-family: Arial, Helvetica, sans-serif;  
}

